.card{
    border: none;
    width:500px;
    padding: 40px;
    position: absolute;
    top: 10%;  
    left: 50%;
    transform: translate(-50%,50%);
    background: rgb(241, 119, 176);
    background: linear-gradient(90deg,rgb(192, 79, 141)0%,rgb(197, 97, 152)100%);
   
   }
   
   .card label h1,h6{
    color:white
   }
   
   label{
    color: white;
   }
   
   .col-md-6
   {
       margin-left: auto;
       margin-right: auto;
    
   }