<div [align]="position"><h1  [align]="position" style="color:rgb(24, 24, 20)"> Contact Us</h1><br><br>
    <h2> For our support:</h2><br>
    
    
    <form class="form" >
        <div>
        <label>Email: <input type="text" name="email"></label><br>
        </div>
        <div class="div1">
        <label> Mobile: <input type="text" name="mobile"> </label>
        </div>
        {{message}}<br/>
        <br/>
        <textarea name="comments" rows="3"></textarea><br/>
        <button (click)="Clicks()"> Submit</button><br>
    </form></div>
