<h1>Brand Story</h1>
<p [align]="position">The journey of Tanishq started with the launch of 
    18k gold watches studded with precious stones in 1994. 
    But, it soon grew into a 22K jeweller who presented a stunning
     range of gold and diamond jewellery. The term Tanishq was coined by 
     Mr. Xerxes Desai by marrying the words 'Tan' meaning body and 'Nishk'
      meaning a gold ornament and Tanishq's very first state-of-art jewellery factory with 
      a proper karigaar park was set up in Hosur in Tamil Nadu. </p>

